
#report-location
  @include fill-parent
  height: 150px

.text-muted
  color: $med-gray

.placeholder
  height: 100%
.centered-box
  width: 200px
  height: 50px
  left: 50%
  top: 50%
  position: relative
  margin: -25px 0 0 -100px
  text-align: center

p, .ta-text
  font-size: 1.125em
  line-height: 24px

.story
  margin-top: 2em
  p
    font-size: $delta
    line-height: 26px

.choice-pop
  position: absolute
  padding: 1em
  background: $light-gray
  display: none

.choice-alive
  display: block
  z-index: 10

.header-underline
  border-bottom: 1px solid $med-gray
  padding-bottom: 4px

.dashboard-content .ta-text
  padding: 1em
  // border: 1px solid $med-gray
  min-height: 300px

.content-blocks .dashboard-content .ta-text
  min-height: 90px

.angular-google-map-container
  width: 100%
  height: 333px

.grid-item-simple .tag-edit
  margin-bottom: .5em

.embed
  margin-top: .5em

.is-gray
  background: $light-gray

.is-white
  background: white
  padding: 2em
div.cartodb-infobox
  top: 20px
  right: 20px
  padding: 0
  border-radius: 2px
  header
    padding: 1em
    background: $light-gray
  article

#basic-modal-content
  display: none

#simplemodal-overlay
  background-color: #000

#simplemodal-container
  min-height: 500px
  width: 740px
  max-width: 740px
  background-color: white
  padding: 1.5em

#simplemodal-container .simplemodal-data
  padding: 8px

#simplemodal-container a
  color: #ddd

#simplemodal-container a.modalCloseImg:before
  content: '\f00d'
  font-family: FontAwesome
  color: white
  background: #e4801c
  border-radius: 50%
  width: 35px
  height: 35px
  text-align: center
  line-height: 35px
  display: inline
  z-index: 3200
  position: absolute
  top: -15px
  right: -16px
  cursor: pointer










// div.cartodb-legend
//   position: absolute
//   top: 40px
//   right: 20px

