

//TIMBY COLORS
$beige: #efe4d5
$blue: #0c3965
$orange: #e4801c
$yellow: #fdba31
$green: #c0b02c

$dark-green: #847F04

//INCLUDES TYPEPLATE
$light-gray: #f3f3f3
$med-gray: #ccc
$gray: #aaa
$dark-gray: #333
$black: #444
$text-gray: #999
$edit-color: $green
$delete-color: #C1272d
$error-color: #C1272d
$light-green: #e4f1e0
$light-red: #f0c9bb

//MEDIA QUERIES
$break-big: 65em
$break-medium: 43em
$break-smallish: 35em
$break-small: 28em


$header-height: 50px

//TYPEPLATE

$serif-boolean: false !default

$font-family: if($serif-boolean, serif, sans-serif) !default
// Non-font-face font-stack

$font-weight: normal !default
$line-height: 1.5 !default
$font-size: 87.5 !default
// percentage value (16 * 112.5% = 18px)
$font-base: 14 * ($font-size/100) !default
// converts our percentage to a pixel value
$custom-font-family: "Apercu" !default
// Custom font-face stack, if set will be added to the $base-font-family
$measure: $font-base * $line-height

// $font-family: "Apercu"
// // Non-font-face font-stack

$custom-font-family: true 
// Custom font-face stack, if set will be added to the $font-family

$tera: 90 !default
// 117 = 18 × 6.5
$giga: 70 !default
// 90 = 18 × 5
$mega: 64 !default
// 72 = 18 × 4
$alpha: 46 !default
// 60 = 18 × 3.3333
$beta: 38 !default
// 48 = 18 × 2.6667
$gamma: 32 !default
// 36 = 18 × 2
$delta: 18 !default
// 24 = 18 × 1.3333
$epsilon: 16 !default
// 21 = 18 × 1.1667
$zeta: 16 !default
// 18 = 18 × 1
$tiny: 12 !default

// Text Indentation Value
$indent-val: 0

// Paragraph Styling Boolean
// 'false' means no vertical whitespace
// between subsequent paragraphs.
$paragraph-vertical-whitespace: true


//BASE STYLES
.yellow, .text-yellow
  color: $yellow !important

.text-orange
  color: $orange !important

.text-green
  color: $green !important

.text-center
  text-align: center

.text-light
  font-weight: 100
h1
  font-size: 2.5rem !important
header h1
  text-transform: uppercase
@media all and (min-width: $break-medium)
  h1
    font-size: 3.7rem
h2, h3
  line-height: 28px !important
  font-size: 22px !important
h3
  font-size: $beta
  text-transform: uppercase
  font-weight: 100 !important
.header-group h3
  text-transform: none
  font-weight: 100 !important
@media all and (min-width: $break-medium)
  h2, h3
    line-height: 35px !important
    font-size: 30 + px !important
h4
  line-height: 26px !important
  color: $orange
  font-size: 24px !important
h4, h6, h5
  margin-bottom: .5em !important
h5
  font-size: 20px
  font-family: "ApercuRegular"
h6
  color: $med-gray !important
  text-transform: uppercase
footer h6
  color: $gray !important
  margin-bottom: 1em !important
p
  font-size: 1.25em
.p-big
  font-size: 20px !important
  line-height: 27px
.p-sans
  font-family: "Apercu", Helvetica !important
@media all and (min-width: $break-medium)
  .p-limited
    width: 60%
    margin: 0 auto
.inline-block
  display: inline-block

header h1
  text-align: center
  color: $orange
