//BASE STYLES
//INCLUDES TYPEPLATE

.row
  @include outer-container
.row-big
  @include outer-container
  max-width: 75em

.row-small
  max-width: 48em
  margin-left: auto
  margin-right: auto
.row-small-extended
  max-width: 52em
  margin-left: auto
  margin-right: auto

.row-padded
  padding: 1em

.row-gray
  background: $light-gray

.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve
  position: relative
  img, iframe
    @include fill-parent
.columns
  margin-bottom: 1.5em
@media all and (min-width: $break-medium)
  .shift-three
    @include shift(3)
  .shift-one
    @include shift(1)
  .shift-two
    @include shift(2)
  .columns
    margin-bottom: 0

.one.preserve
  @include span-columns(1)
.two.preserve
  @include span-columns(2)
.three.preserve
  @include span-columns(3)
.four.preserve
  @include span-columns(4)
.five.preserve
  @include span-columns(5)
.six.preserve
  @include span-columns(6)
.seven.preserve
  @include span-columns(7)
.eight.preserve
  @include span-columns(8)
.nine.preserve
  @include span-columns(9)
.ten.preserve
  @include span-columns(10)
.eleven.preserve
  @include span-columns(11)
.twelve.preserve
  @include span-columns(12)

@media all and (min-width: $break-medium)
  .fifths
    @include span-columns(1 of 5)

  .one
    @include span-columns(1)
  .two
    @include span-columns(2)
  .three
    @include span-columns(3)
  .four
    @include span-columns(4)
  .five
    @include span-columns(5)
  .six
    @include span-columns(6)
  .seven
    @include span-columns(7)
  .eight
    @include span-columns(8)
  .nine
    @include span-columns(9)
  .ten
    @include span-columns(10)
  .eleven
    @include span-columns(11)
  .twelve
    @include span-columns(12)

.four:nth-of-type(3n)
  margin-right: 0

.three:nth-of-type(4n)
  margin-right: 0
