@font-face
  font-family: 'ApercuBold'
  src: url('../font/apercu-bold-webfont.eot')
  src: url('../font/apercu-bold-webfont.eot?#iefix') format("embedded-opentype"), url('../font/apercu-bold-webfont.woff') format("woff"), url('../font/apercu-bold-webfont.ttf') format("truetype")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'ApercuRegular'
  src: url('../font/apercu-webfont.eot')
  src: url('../font/apercu-webfont.eot?#iefix') format("embedded-opentype"), url('../font/apercu-webfont.woff') format("woff"), url('../font/apercu-webfont.ttf') format("truetype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Apercu'
  src: url('../font/apercu-light-webfont.eot')
  src: url('../font/apercu-light-webfont.eot?#iefix') format("embedded-opentype"), url('../font/apercu-light-webfont.woff') format("woff"), url('../font/apercu-light-webfont.ttf') format("truetype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'FontAwesome'
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot')
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?33173078#iefix') format("embedded-opentype"), url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?33173078') format("woff"), url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?33173078') format("truetype"), url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?33173078#fontello') format("svg")
  font-weight: normal
  font-style: normal
footer .fa-4
  font-size: 32px
  position: relative
  margin-top: 4px
footer .fa
  color: $dark-green

