body
  font-family: 'Apercu'
  font-weight: 100

p
  font-size: 1.25em !important
  color: $text-gray
h2
  font-size: 30px
.content-blocks p
  font-size: 1.5em
  line-height: 34px
  font-family: 'Apercu'

.header-group
  h1
    color: $orange
    line-height: 66px
  h3
    color: $gray
    line-height: 42px
.front-header
  margin-bottom: 0
  border-top: 11px solid $orange
  padding: 2em 0
@media all and (min-width: $break-medium)
  .front-header
    margin-bottom: 2em



#mainMenuClose
  position: absolute
  top: 5px
  right: 5px
  z-index: 10
  display: none
  text-transform: uppercase
  padding: 1px 4px
  border-radius: 2px
  font-size: 12px
  background: white
  color: $orange
.menu-control
  float: right
  text-transform: uppercase
  color: white !important
  margin-top: 1em
  border-radius: 2px
  background: $orange
  padding: 1px 6px
  margin-right: 2em
.menu
  display: none
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: $orange
  color: white
  z-index: 9
  ul
    list-style: none
    padding: 1em
    margin: 0
    li
      display: block
      font-size: 30px
      margin-bottom: .5em
      text-align: center
      a
        width: 100%
        display: block
      &.current_page_item
        a
          background: white
          color: orange
          &:hover
          cursor: default
@media all and (min-width: $break-medium)
  .menu-control
    display: none
  .menu
    display: block
    float: right
    margin-top: 1em
    background: none
    position: relative
    width: auto
    height: auto
    ul
      list-style: none
      padding: 0
      margin: 0
      li
        font-size: 1em
        float: left
        &.current_page_item
          a
            background: $orange
            color: white
            &:hover
            cursor: default

        a
          margin: 0 1em
          padding: .35em .7em
          border-radius: 2px
          text-transform: uppercase
          color: $orange
          width: auto

          &:hover
            background: $orange
            color: white
