.poweredby
  position: absolute
  top: 0
  right: 0
  img
    width: 110px
@media all and (min-width: $break-medium)
  .poweredby
    top: -10px
    right: -13px
    img
      width: 160px
.home-text
  padding: 0
  background: white
  margin: 0 auto
  width: 100%
a.grid-item
  display: block
// @media all and (min-width: $break-medium)
  // h2.home-text
  //   font-size: 16px
  //   line-height: 20px
.home-image
  width: 100%
.relative
  position: relative
.text-darkgreen
  color: $dark-green
footer
  padding: 4em 0
  background: $light-gray
.logo-front
  img
    width: 90px
.row, .row-big
  padding: 0 1em
  > .row, > .row-big
    padding: 0
.columns
  width: 100%
  float: none
@media all and (min-width: $break-medium)
  .home-text
    padding: 1.5em
    background: white
    position: absolute
    top: 50%
    left: 50%
    margin: 0 auto
    width: 52%
  .logo-front
    img
      width: 145px
.story-list
  img
    display: block
  &:hover
    .grid-item-top
      background: darken($dark-green, 10%)
  .l-group:first-of-type
    margin-bottom: 1em
.grid-item-top
  background: $dark-green
  padding: 1.5em
  height: 177px
  font-weight: 100

  h4
    color: white
    margin-bottom: 6px !important
  h6.subhead
    margin-bottom: 0 !important
    color: rgba(255,255,255,.9) !important
  p
    color: rgba(255,255,255,.65)
    overflow: hidden
    max-height: 75px
    text-overflow: ellipsis


.story-home-left, .story-home-right
  float: none
  width: 100%
  img
    width: 100%
    display: block
.story-home-right
  background: $dark-green
  padding: 1.5em
  h4
    color: white
    margin-bottom: 6px !important
  h6.subhead
    margin-bottom: 0 !important
    color: rgba(255,255,255,.9) !important
  p
    color: rgba(255,255,255,.65)
    overflow: hidden
  .l-group:first-of-type
    margin-bottom: 1em
  .btn
    background: darken($dark-green,10%)

@media all and (min-width: $break-medium)
  .story-home-left
    width: 66%
    float: left
    img
      width: 100%
      display: block
  .story-home-right
    width: 33%
    float: left
    background: $dark-green
    padding: 1.5em
    h4
      color: white
      margin-bottom: 6px !important
    h6.subhead
      margin-bottom: 0 !important
      color: rgba(255,255,255,.9) !important
   
    .btn
      background: darken($dark-green,10%)



.required
  color: inherit !important
.story-list-figure
  overflow: hidden
  max-height: 190px
  img
    width: 100%

.google-maps
  position: relative
  padding-bottom: 75% // This is the aspect ratio
  height: 0
  overflow: hidden

.google-maps iframe
  position: absolute
  top: 0
  left: 0
  width: 100% !important
  height: 100% !important
