button, .btn
  padding: .5em 1em .65em
  background: white
  border: 1px $gray solid
  color: $dark-gray
  border-radius: 2px
  &.active
    background: $dark-gray
    color: white
  &.active:hover
    background: $dark-gray
    color: white
    cursor: default
  &:disabled
    background: $light-gray
    color: $med-gray
    border-color: $med-gray
  &:disabled:active
    color: $dark-gray
  &.active:disabled
    color: $med-gray
  &:disabled:hover
    background: $light-gray
    color: $dark-gray
  &:hover
    background: $dark-gray
    color: white

.btn.btn-edit, .btn-edit
  background: $edit-color
  color: white
  border: none

  &:hover, &.dark
    background: darken($edit-color,10%)
@media all and (min-width: $break-medium)
  .btn-push-align
    top: 1em
    position: relative
.btn-delete, a.btn-delete
  background: $delete-color
  color: white
  border: none

  &:hover
    background: darken($delete-color,10%)

.btn-small
  padding: .25em .5em
  font-size: .875em

.btn-green
  background: $green
  color: white
  &:hover
    background: darken($green, 10%)

.btn-blue, .btn.btn-blue
  background: $blue
  color: white
  &:hover
    background: darken($blue, 10%)

.btn-darkgreen
  background: $dark-green
  color: white !important
  &:hover
    background: darken($dark-green, 10%)

.btn-big
  padding: 1em 1.25em
  font-size: 1em

.btn-simple
  border: none
  background: none
  padding: .25em 1em .25em
  &.btn-orange
    color: $orange

.btn-full-width
  width: 100%

.btn-center
  margin-left: auto !important
  margin-right: auto !important
  display: inline-block
  text-align: center

.btn-yellow
  background: $yellow
  color: white !important
  border: none
  &:hover
    background: darken($yellow,10%)
.btn-edit:disabled
  color: rgba(255,255,255,.6)
  background: darken($green,15%)
.btn-orange
  background: $orange
  color: white !important
  border: none
  &:hover
    background: darken($orange,10%) !important
.btn-darkgreen
  background: $dark-green
  color: white !important
  border: none
  &:hover
    background: darken($dark-green,10%) !important
.btn-subtle-green
  background: #C2B21F
  color: white !important
  border: none
  &:hover
    background: darken(#C2B21F,10%)
.btn-light-gray
  background: $light-gray
.btn-outline
  &.btn-edit
    background: white
    border: 1px solid $edit-color
    color: $edit-color
    &:hover
      background: $edit-color
      color: white
  &.btn-delete
    background: white
    border: 1px solid $delete-color
    color: $delete-color
    &:hover
      background: $delete-color
      color: white

input[type="submit"].btn
  @include appearance(none)
  &:disabled:hover
    color: $med-gray !important


