input[type="checkbox"], input[type="radio"]
  display: none

// input[type="checkbox"] + label
//   background-color: #FFF
//   border: 1px solid #C1CACA
//   padding: 9px
//   border-radius: 5px
//   display: inline-block
//   position: relative
//   margin-right: 1em
//   font-size: .7em

// input[type="checkbox"] + label:active 

// input[type="checkbox"]:checked + label
//   background-color: $edit-color
//   border: 1px solid darken($edit-color, 10%)
//   color: white

// input[type="checkbox"]:checked + label:after 
//   content: '\2715'
//   position: absolute
//   top: 0px
//   left: 0px
//   color: white
//   width: 100%
//   text-align: center
//   font-size: 1.4em
//   padding: 1px 0 0 0
//   vertical-align: text-top

.checkbox, .radio
  @include clearfix

  &.checkbox-lined, &.radio-lined
    label
      border-bottom: 1px $med-gray solid
    &:first-of-type label
      border-top: 1px $med-gray solid

  label
    display: inline-block
    cursor: pointer
    position: relative
    font-size: 110%
    
    width: 100%

    margin-bottom: .5em
    padding: 0 0 .5em .5em
    &:last-of-type
      margin-bottom: 0
    &:first-of-type
      padding-top: .5em

  label:hover
    // background: $light-gray

  label:before
    content: "."
    display: inline-block
    color: white
    width: 1.6em
    height: 1.6em
    margin-right: .5em
    position: relative
    left: 0
    background-color: white
    border: 1px solid $gray
    border-radius: 2px
    @include box-sizing(border-box)
  &.checkbox-round
    label:before
      border-radius: 50%



input[type=checkbox]:checked + label:before, input[type=radio]:checked + label:before
  content: "\f00c"
  font-family: "FontAwesome"
  background: $edit-color
  text-align: center
  border-color: $edit-color

input[type=checkbox]:checked + label, input[type=radio]:checked + label
  font-weight: 700
  color: $edit-color
  // background: $light-green
