.content-tools-container
  position: absolute
  right: 0
  top: 0
  bottom: 0
  width: 3em
  display: none
  .btn-tools
    height: 50%
.report-thumb .content-tools-move-container
  left: -3em
.content-tools-move-container
  position: absolute
  left: 0
  top: 0
  bottom: 0
  display: none
  .content-icon
    top: 50%
    margin-top: -9px
    position: absolute
.content-block
  position: relative
  padding: 0 3em
  &:hover
    .content-tools-move-container, .content-tools-container
      display: block
.focussed + .content-stay
  display: block !important
.btn-toolbar
  display: none
.btn-tools
  border-radius: 0 1px 1px 0
  width: 3em
  padding-top: .65em
  border: none

.focussed .btn-toolbar
  display: block

.content-icon
  display: block
  font-size: 16px
  text-align: center

.drop-placeholder
  background: $light-gray
  color: $med-gray
  text-align: center
  margin: 0 auto 2em
  padding: 3em
  border: 1px dotted $med-gray
  width: calc(100% - 6em)
  &:before
    content: "Drop Zone"


.drag-handle
  height: 100%
  padding-top: 50%

.dashboard-content
  background: white

.content-header
  padding: 0 3em
.is-white.no-padding
  padding: 3em 0 1em 0

.ta-text.placeholder-text
  color: $med-gray
  :before
    content: 'Type your text here' !important

.ta-editor::-webkit-input-placeholder 
  color: $med-gray
.ta-text
  outline-color: white
  outline-style: none
  outline-width: 0

