.btn-toolbar
  @include outer-container
  // @extend .l-group

.btn-group
  float: left
  margin-right: 1em

.ta-text
  a
    color: $edit-color
    text-decoration: underline

.ta-toolbar
  display: block
  border-bottom: 1px $med-gray solid
  background: $light-gray
  .btn
    background: none
    border: none
