.filters-hide, .filters-alive, .filters, .report, .map
  @include transition(all,.5s)

.filters-alive
  position: relative
  z-index: 99
  @include transform(translateX(0px))

.filters-hide
  position: absolute
  @include transform(translateX(-220px))
  text-align: center

.filters-button
  @include size(58px 52px)
  font-size: 34px
  padding: 1px 8px 8px 8px
  background: white
  margin-bottom: 4px
  color: $black
  &:hover
    cursor: pointer
    background: $black
    color: white


.filters-hidden
  &.filters
    width: 100px
  .filters-alive
    position: relative
    @include transform(translateX(-220px))
  .filters-hide
    @include transform(translateX(0px))
