.margin-bottom
  margin-bottom: 1em
.row-lined
  border-bottom: 1px solid $med-gray
  padding-bottom: 1em
.row-space
  padding-bottom: 1em
.text-light
  color: $gray
.all-caps
  text-transform: uppercase
  letter-spacing: 1px
.small
  font-size: .875em
p.small
  font-size: .875em
  line-height: 18px
.no-margin
  margin-bottom: 0
.dashboard-content.add-content .ta-text
  min-height: 0
.fileUpload
  width: auto
  background: $yellow
  text-align: center
  color: white
.margin-bottom-small
  margin-bottom: 1em
.fileUpload input.upload 
  position: absolute
  width: 100%
  top: 0
  bottom: 0
  left: 0
  right: 0
  margin: 0
  padding: 0
  font-size: 20px
  cursor: pointer
  opacity: 0
  filter: alpha(opacity=0)
