@font-face
  font-family: 'FontAwesome'
  src: url('../../bower_components/font-awesome/fonts/fontawesome-webfont.eot')
  src: url('../../bower_components/font-awesome/fonts/fontawesome-webfont.eot?33173078#iefix') format("embedded-opentype"), url('../../bower_components/font-awesome/fonts/fontawesome-webfont.woff?33173078') format("woff"), url('../../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?33173078') format("truetype"), url('../../bower_components/font-awesome/fonts/fontawesome-webfont.svg?33173078#fontello') format("svg")
  font-weight: normal
  font-style: normal

@import "../../bower_components/font-awesome/scss/font-awesome.scss"