.modal-open
  overflow: hidden

.modal
  display: none
  overflow: auto
  overflow-y: scroll
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 1050
  -webkit-overflow-scrolling: touch
  outline: 0
  &.fade .modal-dialog
    -webkit-transform: translate(0, -25%)
    -ms-transform: translate(0, -25%)
    transform: translate(0, -25%)
    -webkit-transition: -webkit-transform 0.3s ease-out
    -moz-transition: -moz-transform 0.3s ease-out
    -o-transition: -o-transform 0.3s ease-out
    transition: transform 0.3s ease-out
  &.in .modal-dialog
    -webkit-transform: translate(0, 0)
    -ms-transform: translate(0, 0)
    transform: translate(0, 0)

.modal-dialog
  position: relative
  width: auto
  margin: 10px

.modal-content
  position: relative
  background-color: #ffffff
  border: 1px solid #999999
  border: 1px solid rgba(0, 0, 0, 0.2)
  //border-radius: 6px
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5)
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5)
  background-clip: padding-box
  outline: none

.modal-backdrop
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 1040
  background-color: #000000
  &.fade
    opacity: 0
    filter: alpha(opacity = 0)
  &.in
    opacity: 0.5
    filter: alpha(opacity = 50)

.modal-header
  padding: 15px
  border-bottom: 1px solid #e5e5e5
  min-height: 16.42857143px
  .close
    margin-top: -2px

.modal-title
  margin: 0
  line-height: 1.42857143

.modal-body
  position: relative
  padding: 20px

.modal-footer
  margin-top: 15px
  padding: 19px 20px 20px
  text-align: right
  border-top: 1px solid #e5e5e5
  .btn + .btn
    margin-left: 5px
    margin-bottom: 0
  .btn-group .btn + .btn
    margin-left: -1px
  .btn-block + .btn-block
    margin-left: 0

@media (min-width: 768px)
  .modal-dialog
    width: 80%
    margin: 30px auto
  .modal-content
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
    img
      width: 100%
  .modal-sm
    width: 300px

@media (min-width: 992px)
  .modal-lg
    width: 900px
