.report-thumb
  border: 1px solid $med-gray
  background: white
  position: relative
  &.frontend
    margin: 1.5em 0
  @include clearfix
  footer
    background: $light-gray
    padding: .5em
  header
    // background: $dark-gray
    color: white
    // padding: .5em
.report-flag
  padding: 1em 1.5em
  background: #e4801c
  color: white
  position: absolute
  z-index: 99
  left: -91px
  top: -1px
  text-align: center
  .fa-eye
    font-size: 25px
    display: block
.report-thumb-info, .report-thumb-media
  padding: 1em
.report-thumb-map
  .angular-google-map-container
    height: 120px
.report-thumb-media
  @include clearfix
  .three
    min-height: 120px
    margin-bottom: 1em
