.tag
  display: inline-block
  padding: .25em 1em
  // text-transform: uppercase
  font-size: 12px
  position: relative
  background: $light-gray
  border-radius: 2px

.tag-small
  font-size: 10px
  padding: .2em .75em
  border-radius: 2px

.tag-rounded
  border-radius: 1em

.tag-outline
  border: 1px solid $dark-gray
  background: none

.tag-dark
  background: $black
  color: white

.tag-cloud
  .tag
    margin-top: .5em

// .edit-pane
//   display: none

.tag-edit
  background: $edit-color
  color: white !important
  // .edit-pane
  //   display: block

.tag-remove
  cursor: pointer
  &:hover
    background: $dark-gray
    color: white

.edit-pane
  position: absolute
  width: 100%
  background: $light-gray
  padding: 1em
  z-index: 3
  margin-top: -1.5em

.tag-positive
  background: $green
  color: white !important

.tag-negative
  background: $orange
  color: white !important
