.text-editor
  &.text-editor-lined
    .ta-text
      border: 1px $med-gray solid
      padding: 1em
  &.text-editor-height
    .ta-text
      min-height: 200px 

.btn-default.active
  background: $black
  &:hover
    color: $dark-gray